body,html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-image: url(https://live.staticflickr.com/4328/35203036394_b9650b0f5c_b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */

}
